html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  font-family: var(--vscode-font-family);
  font-size: var(--vscode-font-size);
  font-weight: var(--vscode-font-weight);
  color: var(--vscode-foreground);
  background: var(--vscode-editor-background);
}

#root {
  width: 100%;
  height: 100%;
}
